<footer class="footer section pt-6 pt-md-8 pt-lg-10 pb-3 @@classes overflow-hidden">
    <div class="pattern pattern-soft top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <a class="footer-brand mr-lg-5 d-flex" href="@@path_common/index.html">
                    <img src="@@path_common/front/assets/img/brand/light.svg" height="35" class="mr-3" alt="Footer logo">
                </a>
                <p class="my-4">Web 3.0 scalable IoT platform</p>
                <div class="dropdown mb-4 mb-lg-0">
                    <a id="langsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle footer-language-link">
                        <img src="@@path_common/front/assets/img/flags/united-states-of-america.svg" alt="USA Flag" class="language-flag"> English
                        <i class="fas fa-chevron-down ml-1"></i>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
                <ul class="links-vertical">
                    <li><a target="_blank" href="https://cyberfly-io.medium.com">Blog</a></li>
                    <li><a target="_blank" href="https://twitter.com/cyberfly_io">Twitter</a></li>
                    <li><a target="_blank" href="https://t.me/cyberflyio">Telegram</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4 my-lg-5">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal mb-0">© <a href="https://cyberfly.io" target="_blank">Cyberfly </a><span class="current-year"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
