<title>Cyberfly | Web3.0 - A Decentralised IoT Platform</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Cyberfly |Web3.0 - A Decentralised IoT Platform">
<link rel="canonical" href="https://cyberfly.io"/>
<meta name="keywords" content="IOT WEB3.0 BLOCKCHAIN CYBERFLY">
<meta name="description" content="Cyberfly is a web 3.0 Decentralised IoT Platform">
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@cyberfly_io">
<meta name="twitter:title" content="Cyberfly IO - Decentralised IoT Platform" >
<meta content="Cyberfly is the scalable decentralized internet of things platform. Connect your device with blockchain and store sensor data, Our system evaluates data and delivers them to another device based on business rules you define." property="twitter:description">
<meta name="twitter:image" content="https://raw.githubusercontent.com/cyberfly-io/assets/main/cyberfly-bg.png" >
<meta name="twitter:description" content="Connecting Every 'things'">
<meta name="twitter:creator" content="@cyberfly_io">

<!-- Favicon -->
<link rel="icon" href="https://avatars.githubusercontent.com/u/80241153?s=400&u=1cab9c90e954bf92f5ff4408ba3ade62fff8f0df&v=4" type="image/svg">

<!-- Fontawesome -->
<link type="text/css" href="@@path_common/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Nucleo icons -->
<link rel="stylesheet" href="@@path_common/dashboard/assets/vendor/nucleo/css/nucleo.css" type="text/css">

<!-- Prism -->
<link type="text/css" href="@@path_common/vendor/prismjs/themes/prism.css" rel="stylesheet">

<!-- Front CSS -->
<link type="text/css" href="@@path/css/front.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
